@import "bootstrap/scss/bootstrap-grid.scss";
@import "../Styleguide/mixins.scss";

.chat {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chat__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.chat__box {

  width: 40%;
  background-color: black;
  padding-top: 1rem;

  &--wrapper {
    @include glass(100%, auto, 1rem, center, center, row);
  }

  position: sticky;
  bottom: 0;
  opacity: 1;

  @include media-breakpoint-down(md) {
    width: 60%;
  }

  @include media-breakpoint-down(sm) {
    width: 80%;
  }

  @include media-breakpoint-down(xs) {
    width: 90%;
  }

  svg {
    color: #ecda0b;
  }

  input {
    margin: 0;
    padding: 1rem;
  }

  &__send {
    border-radius: 50%;
    background: #000;
    margin: 1rem;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



.chat__messages {
  @include glass(40%, auto, 1rem, flex-start, center, column);
  padding: 1rem;
  margin: 1rem 0 0 0;

  @include media-breakpoint-down(md) {
    width: 60%;
  }

  @include media-breakpoint-down(sm) {
    width: 80%;
  }

  @include media-breakpoint-down(xs) {
    width: 90%;
  }
}

.chat__messages__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 0.8rem;
  align-items: center;
  width: 100%;
  margin: 0.25rem;

  &__wrapper {
    display: inline-flex;
    padding: 0.5rem;
    background-color: #e7e19a;
    border-radius: 5%;

    .author {
      font-weight: light;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      color: rgb(107, 107, 101)
    }

    .message {
      display: flex;
      flex-wrap: wrap;
      word-break: break-all;
    }

  }

  &__wrapper--active {
    display: inline-flex;
    padding: 0.5rem;
    background-color: #ecda0b;
    border-radius: 5%;

    .author {
      font-weight: light;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      color: rgb(107, 107, 101)
    }

  }
}

.active {
  justify-content: flex-end;
}


.chat h2 {
  display: flex;
  justify-content: center;
}

input {
  background-color: lightgrey;
}

.MuiFormLabel-root.Mui-focused {
  color: #dacb1c !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #dacb1c !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #dacb1c !important;
}
