@import "bootstrap/scss/bootstrap-grid.scss";
.chat {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.chat__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 1rem;
}

.chat__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 40%;
  position: sticky;
  bottom: 0;
  background: #fff;
  @include media-breakpoint-down(md) {
    width: 60%;
  }

  @include media-breakpoint-down(sm) {
    width: 80%;
  }

  @include media-breakpoint-down(xs) {
    width: 90%;
  }
}

.chat__box button,
.chat__box input {
  margin: 0.5rem 0;
}

.chat__messages {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem;
  // border: 1px solid #dacb1c;
  @include media-breakpoint-down(md) {
    width: 60%;
  }

  @include media-breakpoint-down(sm) {
    width: 80%;
  }

  @include media-breakpoint-down(xs) {
    width: 90%;
  }
}

.chat__messages__item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 0.8rem;
  align-items: center;
  width: 100%;
  margin: 0.25rem;

  &__wrapper {
    display: inline-flex;
    padding: 0.5rem;
    background-color: #e7e19a;
    border-radius: 5%;

    .author {
      font-weight: light;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      color: rgb(107, 107, 101)
    }

  }

  &__wrapper--active {
    display: inline-flex;
    padding: 0.5rem;
    background-color: #ecda0b;
    border-radius: 5%;

    .author {
      font-weight: light;
      font-size: 0.75rem;
      margin-right: 0.5rem;
      color: rgb(107, 107, 101)
    }

  }
}

.active {
  justify-content: flex-end;
}

// .chat__messages__item {
//   display: flex;
//   flex-direction: column;
//   align-items: flex-end;
//   margin: 1rem 25%;
//   padding: 1rem;
//   overflow-y: scroll;
//   border: 1px solid #dacb1c;
//   justify-content: flex-end;
//   height: 250px;
//   border-radius: 1%;
// }

// .chat__messages__item .active {
//   display: flex;
//   justify-content: flex-start;
//   flex-direction: row;
//   padding: 0.75rem;
//   font-size: 0.8rem;
//   align-items: center;
//   width: 100%;
//   border-radius: 5%;
//   margin: 0.25rem;
// }

// .chat__messages__item .active .chat__messages__item__wrapper {
//   display: inline-flex;
//   background-color: #d3c317 !important;

//   .author {
//     font-weight: light;
//     font-size: 0.75rem;
//     margin-right: 0.5rem;
//     color: rgb(107, 107, 101)
//   }
// }

.chat h2 {
  display: flex;
  justify-content: center;
  /* margin: 0 25%; */
}

input {
  background-color: lightgrey;
}

.MuiFormLabel-root.Mui-focused {
  color: #dacb1c !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #dacb1c !important;
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: #dacb1c !important;
}