@import "bootstrap/scss/bootstrap-grid.scss";

.register {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.register__form {
  display: flex;
  width: 35%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem 0;
  background: linear-gradient(to top right, #fffff1, #fffef2);
   
  @include media-breakpoint-down(md) {
     width: 50%;
  }
  @include media-breakpoint-down(sm) {
    width: 80%;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
  }
}

.register__form form {
  display: flex;
  flex-direction: column;
}
:focus {
  outline: #dacb1c auto 1px;
  outline-color: #dacb1c;
  outline-style: auto;
  outline-width: 1px;
}

.MuiFormLabel-root.Mui-focused {
  color: #dacb1c !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #dacb1c !important;
}

/* .makeStyles-root-3 > * {
  width: 100% !important; 
} */

form {
  width: 80%;
}

.register__form button {
  width: 100%;
}
.MuiFormControl-fullWidth {
  margin: 8px !important;
  width: 100% !important;
}