@import "bootstrap/scss/bootstrap-grid.scss";
@import "../Styleguide/mixins.scss";

.register {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.register__form {
  @include glass(35%,100%, 2rem, center,center, column);
  margin: 10% 1rem 1rem 1rem;
  padding: 1rem 0;

   
  @include media-breakpoint-down(md) {
     width: 50%;
  }
  @include media-breakpoint-down(sm) {
    width: 80%;
    margin-top: 25%
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
    margin: 25% 0.25rem 0.25rem 0.25rem;
  }
}

.register__form form {
  display: flex;
  flex-direction: column;
}
:focus {
  outline: #dacb1c auto 1px;
  outline-color: #dacb1c;
  outline-style: auto;
  outline-width: 1px;
}

.MuiFormLabel-root.Mui-focused {
  color: #dacb1c !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #dacb1c !important;
}

/* .makeStyles-root-3 > * {
  width: 100% !important; 
} */

form {
  width: 80%;
}

.register__form button {
  width: 100%;
}
.MuiFormControl-fullWidth {
  margin: 8px !important;
  width: 100% !important;
}