@import "bootstrap/scss/bootstrap-grid.scss";
@import "../Styleguide/mixins.scss";

.login {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.login__form {
  @include glass(35%,100%, 2rem, center,center, column);
  margin: 5% 1rem 1rem 1rem;
  padding: 1rem 0;

  @include media-breakpoint-down(md) {
     width: 50%;
  }
  @include media-breakpoint-down(sm) {
    width: 80%;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
  }

}

.login__form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.MuiFormLabel-root.Mui-focused {
  color: #dacb1c !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #dacb1c !important;
}

/* .makeStyles-root-3 > * {
  width: 100% !important; 
} */


.login__form button {
  width: 100%;
}
.MuiFormControl-fullWidth {
  margin: 8px !important;
  width: 100% !important;
}

form {
  width: 80%;
}

.MuiTextField-root {
  margin: 8px !important;
  width: 100% !important;
}