@import "bootstrap/scss/bootstrap-grid.scss";

.login {
  display: flex;
  width: 100vw;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.login__form {
  display: flex;
  width: 35%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem 0;
  // border: 1px solid #dacb1c;    
  @include media-breakpoint-down(md) {
     width: 50%;
  }
  @include media-breakpoint-down(sm) {
    width: 80%;
  }
  @include media-breakpoint-down(xs) {
    width: 100%;
  }

}

.login__form form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.MuiFormLabel-root.Mui-focused {
  color: #dacb1c !important;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #dacb1c !important;
}

/* .makeStyles-root-3 > * {
  width: 100% !important; 
} */


.login__form button {
  width: 100%;
}
.MuiFormControl-fullWidth {
  margin: 8px !important;
  width: 100% !important;
}

form {
  width: 80%;
}

.MuiTextField-root {
  margin: 8px !important;
  width: 100% !important;
}