

.home__header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #fff;

  &__heading {
    display: none;
  }

  &__username {
    display: flex;
    position: absolute;
    font-size: 0.85rem;
    color: #717127;
    right: 20px;
  }

  &__logo {
    display: flex;
    justify-content: center;
    img { width: 25%; }
  }
}
